# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Training outputs
outputs/
*.pth
*.pt
*.ckpt

# Dataset - DO NOT PUSH
chest_xray/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db